.border-gradient {
  @apply border-2 border-solid border-blue6;
}

.bt-button-1 {
  cursor: pointer;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  &:hover::before {
    left: auto;
    right: 0;
    width: 100%;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: auto;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #fff;
    opacity: 0.1;
    z-index: -1;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}
