.border-gradient {
  border-image-slice: 1;

  border-image-source: linear-gradient(
    93.29deg,
    #4776e6 0%,
    #ffffff 24.48%,
    #8e54e9 100%
  );
  @apply border-2 border-solid;
}

.bt-button-1 {
  cursor: pointer;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  &:hover::before {
    left: auto;
    right: 0;
    width: 100%;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: auto;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #fff;
    opacity: 0.1;
    z-index: -1;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}
